
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");

@keyframes anim-glow {
	0% {
		box-shadow: 0 0 0 0 transparent;
	}
	100% {
		box-shadow:0px 0px 20px 5px white;
		
    }
}

htm

#menu{
    background-color: black;
    
    max-width: 70px;
   
    transition: .5s ease;
    
}

#content{
    
    overflow: auto;
}


#btn-menu, #btn-portafolio, #btn-fb, #btn-li, #btn-ig, #btn-contact, #btn-gh{
    
    transition: .5s;
 }

#btn-menu:hover, #btn-portafolio:hover, #btn-fb:hover, #btn-li:hover, #btn-ig:hover, #btn-contact:hover, #btn-gh:hover{
    
   background-color: rgb(37, 37, 134);
   border-radius: 50%;
}




@media only screen and (max-width: 800px) {
   

  

  }
  @media only screen and (max-width: 600px) {
    #mainImg {
      display: none;
    }

}


.card-text{
    color: white;
    padding: 5px;

}

.button1{
    background-color:rgba(5, 27, 56, 0.623);
    height: 50px;
    width: 125px;
    margin: 0%;
    border-top: 1px solid;
    border-bottom-left-radius: 10px;
    border-right: 1px solid;
    border-color:rgba(107, 109, 112, 0.2);
    transition: .5s;
    
    
 
}
.button2{
    background-color:rgba(5, 27, 56, 0.623);
    height: 50px;
    width: 125px;
    margin: 0%;
    border-top: 1px solid;
    border-bottom-right-radius: 10px;
    border-color:rgba(107, 109, 112, 0.2);
    transition: .2s;
    
 
}

.card-img-top{
    max-height: 200px;
    
    margin-left: auto;
    margin-right: auto;
   
    
}



.rounded-b{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.button2:hover, .button1:hover ,.resumeButton:hover{
    background-color:rgb(24, 98, 189,.5);

}


.imgCard{
    height: 200px;
    width: 200px;
    
    background-color: black;
    margin-top: 15px;
    margin-left: 25px;

    object-fit: cover;
}



.card-content{
    
    height: 320px;
    width: 250px;
    background-color: rgb(255, 255, 255, .1);
    margin: 0%;

    padding: 0%;
}
