#content::-webkit-scrollbar {
    width: 10px;
  }

  


  
  /* Track */
  #content::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  #content::-webkit-scrollbar-thumb {
    background-color:rgba(4, 18, 37, 0.6);
  
  }
  
  /* Handle on hover */
  #content::-webkit-scrollbar-thumb:hover {
    background: rgb(42, 44, 47);
  }

  html{
    overflow: hidden;
  }