
#content{
    
    overflow: auto;
}


#btn-menu, #btn-portafolio, #btn-fb, #btn-li, #btn-ig, #btn-contact, #btn-gh{
    
    transition: .5s;
 }

#btn-menu:hover, #btn-portafolio:hover, #btn-fb:hover, #btn-li:hover, #btn-ig:hover, #btn-contact:hover, #btn-gh:hover{
    
   background-color: rgb(37, 37, 134);
   border-radius: 50%;
}


.mainImg{
    width: 300px;
}



#aboutContent{
    
    background-color: rgba(255, 255, 255, 0.1);

    
}

.clear{
    
    background-color:rgba(23, 81, 161, 0.1);

    
}


@media only screen and (max-width: 800px) {
    #mainImg {
      display: none;
    }
    h1 #title1{
        font-size: 10px;
    }
    .info-content{
    
       
        width: 300px;
        
       
    }
  }
  @media only screen and (max-width: 600px) {
    #mainImg {
      display: none;
    }

    .info-content{
    
       
        width: 300px;
        
       
    }

    
  
  }




 #bio{
     transition: .5s;
 }

 

.card-text{
    color: white;
    padding: 5px;

}

.button1{
    background-color:rgba(5, 27, 56, 0.623);
    height: 50px;
    width: 125px;
    margin: 0%;
    border-bottom-left-radius: 10px;
    border-right: 1px solid;
    border-color:rgba(107, 109, 112, 0.2);
    transition: .5s;
    
    
 
}
.button2{
    background-color:rgba(5, 27, 56, 0.623);
    height: 50px;
    width: 125px;
    margin: 0%;
    border-bottom-right-radius: 10px;
    
    transition: .2s;
    
 
}

.card-img-top{
    max-height: 200px;
    
    margin-left: auto;
    margin-right: auto;
   
    
}



.resume{
    height: 335px;
    
    background-color: rgb(255, 255, 255, .1);
}



.rounded-b{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.resumeButton{
    background-color:rgba(5, 27, 56, 0.623);
    height: 50px;
    width: 250px;
    margin: 0%;
   
    border-top: 1px solid;
    border-color:rgba(107, 109, 112, 0.2);
    transition: .3s;
    
    
 
}
.button2:hover, .button1:hover ,.resumeButton:hover{
    background-color: rgba(255, 255, 255, 0.068);
    
    
 
}


.imgCard{
    height: 200px;
    width: 200px;
    
    background-color: black;
    margin-top: 15px;
    margin-left: 25px;
}


.titleResume{
    
    height: 70px;
    
    padding: 5px;
}

.card-content{
    
    height: 300px;
    width: 250px;
    background-color: rgb(255, 255, 255, .1);
    margin: 0%;

    padding: 0%;
}

.info-content{
    
    height: 300px;
    width: 400px;
    background-color: rgb(255, 255, 255, .1);
   
}

